@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #15202b;
  }

  a,
  .nav.item,
  .tag {
    color: #1da1f2;
  }

  .site.slogan,
  .article.date,
  .note.date {
    color: #8899a6;
  }

  .note.content,
  .article.markdown-body {
    color: #fff;
  }
}
